// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
  background-color: yellow;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background: black;
  color: white;
}

.blogs_body{
  text-align: center;
}

h1 {
  text-align: center;
}

#blogs_new_button {
  text-align: center;
}

.blogs_notice {
  text-align: center;
}

// navbar-brand collapse navbar-collapse navlogo
// .navbar-brand,.collapse,.navbar-collapse {
//   height: 30px;
// }
