// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blogs_body{
  text-align: center;
}

h1 {
  text-align: center;
}

#blogs_new_button {
  text-align: center;
}

.blogs_notice {
  text-align: center;
}
